html textarea, body textarea {
  font-size: 12px;
  padding: 7px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #c9c3e6;
  border: none;
  width: auto; }
html input[type=text], html input[type=password], body input[type=text], body input[type=password] {
  font-size: 12px;
  padding: 7px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #c9c3e6; }
html input[type=checkbox], body input[type=checkbox] {
  margin-right: 5px; }
html input.submit, html input.button, html a.submit, html a.button, body input.submit, body input.button, body a.submit, body a.button {
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-box-shadow: 2px 2px 6px #232323;
  -webkit-box-shadow: 2px 2px 6px #232323;
  margin: 0;
  padding: 0;
  background-color: #9e8aff;
  text-shadow: #c9c3e6 0px 0px 2px;
  color: #16153b;
  font-size: 14px;
  display: inline-block;
  height: 28px;
  line-height: 27px;
  vertical-align: top;
  background-image: url(/images/button-smooth.png);
  background-repeat: repeat-x;
  background-position: center bottom;
  padding: 1px 20px 3px 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none; }
  html input.submit:hover, html input.button:hover, html a.submit:hover, html a.button:hover, body input.submit:hover, body input.button:hover, body a.submit:hover, body a.button:hover {
    text-decoration: none; }
  html input.submit:hover, html input.button:hover, html a.submit:hover, html a.button:hover, body input.submit:hover, body input.button:hover, body a.submit:hover, body a.button:hover {
    background-color: #c9c3e6; }
  html input.submit.disabled, html input.button.disabled, html a.submit.disabled, html a.button.disabled, body input.submit.disabled, body input.button.disabled, body a.submit.disabled, body a.button.disabled {
    background-color: #555555;
    text-shadow: #aaa 0px 0px 2px;
    color: #1c1c1c; }
  html input.submit.add, html input.submit.remove, html input.button.add, html input.button.remove, html a.submit.add, html a.submit.remove, html a.button.add, html a.button.remove, body input.submit.add, body input.submit.remove, body input.button.add, body input.button.remove, body a.submit.add, body a.submit.remove, body a.button.add, body a.button.remove {
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    text-indent: -9000px;
    overflow: hidden;
    display: inline-block;
    background-image: none;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: transparent;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-repeat: no-repeat;
    -moz-box-shadow: none;
    -webkit-box-shadow: none; }
  html input.submit.add, html input.button.add, html a.submit.add, html a.button.add, body input.submit.add, body input.button.add, body a.submit.add, body a.button.add {
    background-image: url(/images/form-button-add.png); }
  html input.submit.remove, html input.button.remove, html a.submit.remove, html a.button.remove, body input.submit.remove, body input.button.remove, body a.submit.remove, body a.button.remove {
    background-image: url(/images/form-button-remove.png); }
html input.destroy, html a.destroy, body input.destroy, body a.destroy {
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-box-shadow: 2px 2px 6px #232323;
  -webkit-box-shadow: 2px 2px 6px #232323;
  margin: 0;
  padding: 0;
  background-color: #9e8aff;
  text-shadow: #c9c3e6 0px 0px 2px;
  color: #16153b;
  font-size: 14px;
  display: inline-block;
  height: 28px;
  line-height: 27px;
  vertical-align: top;
  background-image: url(/images/button-smooth.png);
  background-repeat: repeat-x;
  background-position: center bottom;
  padding: 1px 20px 3px 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: #0E0909;
  text-shadow: #999 0px 0px 2px;
  background-color: #777;
  background-image: url(/images/button-smooth-red.png); }
  html input.destroy:hover, html a.destroy:hover, body input.destroy:hover, body a.destroy:hover {
    text-decoration: none; }
  html input.destroy:hover, html a.destroy:hover, body input.destroy:hover, body a.destroy:hover {
    background-color: #a11c39;
    color: #2a0b14;
    text-shadow: #D07872 0px 0px 2px; }
html a.button, html a.submit, html a.destroy, body a.button, body a.submit, body a.destroy {
  padding: 0 20px 0 20px;
  line-height: 28px; }
html input.selectbox, body input.selectbox {
  padding-right: 25px;
  position: relative;
  background-image: url(/images/form-select-closed.png);
  background-position: right center;
  background-repeat: no-repeat; }
html .selectbox-wrapper, html .ac_results, body .selectbox-wrapper, body .ac_results {
  position: absolute;
  -moz-box-shadow: 2px 2px 6px #232323;
  -webkit-box-shadow: 2px 2px 6px #232323;
  z-index: 12;
  background-color: #c2e3f3;
  color: #27264c;
  padding-bottom: 3px;
  max-height: 150px;
  overflow: auto;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px; }
  html .selectbox-wrapper li, html .ac_results li, body .selectbox-wrapper li, body .ac_results li {
    padding: 5px 5px 5px 8px;
    font-size: 12px;
    margin-bottom: -3px; }
    html .selectbox-wrapper li strong, html .ac_results li strong, body .selectbox-wrapper li strong, body .ac_results li strong {
      font-weight: normal; }
    html .selectbox-wrapper li.selected, html .ac_results li.selected, body .selectbox-wrapper li.selected, body .ac_results li.selected {
      color: #2a76b0;
      font-weight: bold; }
    html .selectbox-wrapper li.current, html .ac_results li.current, body .selectbox-wrapper li.current, body .ac_results li.current {
      background-color: #88b9f7; }
      html .selectbox-wrapper li.current:last-child, html .ac_results li.current:last-child, body .selectbox-wrapper li.current:last-child, body .ac_results li.current:last-child {
        -moz-border-radius-bottomright: 3px;
        -webkit-border-bottom-right-radius: 3px;
        -moz-border-radius-bottomleft: 3px;
        -webkit-border-bottom-left-radius: 3px; }
html select, body select {
  border: none;
  background-color: #c9c3e6;
  margin-top: 0;
  margin-left: 0;
  padding: 7px;
  height: 28px;
  font-size: 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
html .notice, body .notice {
  color: #fff;
  padding: 10px 10px 8px 10px;
  margin-bottom: 15px;
  background-color: #5987a0;
  background-image: url(/images/notice-bkg.png);
  background-repeat: repeat-x;
  background-position: center bottom;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-box-shadow: 2px 2px 4px #1d1d1d;
  -webkit-box-shadow: 2px 2px 4px #1d1d1d; }
  html .notice a, body .notice a {
    color: #fff;
    text-decoration: underline; }
  html .notice em, body .notice em {
    padding: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
  html .notice h3, body .notice h3 {
    line-height: 30px;
    padding-top: 1px;
    background-image: url(/images/notice-icon-35x35.png);
    background-position: left top;
    background-repeat: no-repeat;
    padding-left: 35px; }
  html .notice.success, body .notice.success {
    background-color: #7c984c;
    background-image: url(/images/notice-success-bkg.png); }
    html .notice.success em, body .notice.success em {
      background-color: #d07872;
      color: #40111f; }
    html .notice.success h3, body .notice.success h3 {
      background: none;
      padding-left: 10px;
      line-height: 24px; }
  html .notice.error, body .notice.error {
    background-color: #a11c39;
    background-image: url(/images/notice-error-bkg.png); }
    html .notice.error em, body .notice.error em {
      background-color: #d07872;
      color: #40111f; }
    html .notice.error h3, body .notice.error h3 {
      background-image: url(/images/notice-error-icon-35x35.png);
      background-position: left top;
      background-repeat: no-repeat;
      padding-left: 40px; }
html form .overview, body form .overview {
  padding: 20px; }
html form .notice, body form .notice {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px; }
html form fieldset, body form fieldset {
  overflow: auto;
  clear: both;
  border-top-width: 4px;
  border-top-color: #232323;
  border-top-style: solid;
  padding: 20px 30px 15px 30px; }
  html form fieldset:first-child, body form fieldset:first-child {
    border-top-style: none; }
  html form fieldset:last-child, body form fieldset:last-child {
    padding-bottom: 0; }
  html form fieldset.active, body form fieldset.active {
    background-color: #232323; }
  html form fieldset p.overview, body form fieldset p.overview {
    padding: 0 0 20px 0; }
  html form fieldset legend, html form fieldset h3, body form fieldset legend, body form fieldset h3 {
    color: #bfb8e5;
    padding-right: 1em; }
  html form fieldset h3, body form fieldset h3 {
    margin-bottom: 20px;
    padding-right: 0; }
  html form fieldset .row, body form fieldset .row {
    clear: both;
    overflow: hidden; }
    html form fieldset .row:last-child, body form fieldset .row:last-child {
      padding-bottom: 0; }
    html form fieldset .row .field, body form fieldset .row .field {
      float: left;
      margin-right: 20px; }
      html form fieldset .row .field:last-child, body form fieldset .row .field:last-child {
        margin-right: 0px; }
  html form fieldset .formError, body form fieldset .formError {
    margin: 0;
    padding-top: 7px;
    padding-left: 7px;
    color: #e1b5b6;
    font-size: 12px;
    display: block;
    clear: both; }
  html form fieldset .field, body form fieldset .field {
    margin-bottom: 15px; }
    html form fieldset .field label, body form fieldset .field label {
      margin-bottom: 2px;
      font-size: 12px; }
    html form fieldset .field label, html form fieldset .field input, html form fieldset .field .formError, body form fieldset .field label, body form fieldset .field input, body form fieldset .field .formError {
      display: block; }
    html form fieldset .field .formError, body form fieldset .field .formError {
      padding-top: 2px;
      padding-left: 0; }
    html form fieldset .field.active select, html form fieldset .field.active .text, body form fieldset .field.active select, body form fieldset .field.active .text {
      background-color: #c2e3f3;
      -moz-box-shadow: 2px 2px 6px #232323;
      -webkit-box-shadow: 2px 2px 6px #232323; }
    html form fieldset .field.active .selectbox, body form fieldset .field.active .selectbox {
      background-image: url(/images/form-select-active-closed.png); }
      html form fieldset .field.active .selectbox.open, body form fieldset .field.active .selectbox.open {
        background-image: url(/images/form-select-active-open.png);
        -moz-border-radius-bottomright: 0;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-bottomleft: 0;
        -webkit-border-bottom-left-radius: 0; }
    html form fieldset .field.error, body form fieldset .field.error {
      color: #d07872; }
      html form fieldset .field.error select, html form fieldset .field.error .text, body form fieldset .field.error select, body form fieldset .field.error .text {
        background-color: #d07872; }
      html form fieldset .field.error .selectbox, body form fieldset .field.error .selectbox {
        background-image: url(/images/form-select-error-closed.png); }
        html form fieldset .field.error .selectbox.open, body form fieldset .field.error .selectbox.open {
          background-image: url(/images/form-select-error-open.png); }
      html form fieldset .field.error .selectbox-wrapper, body form fieldset .field.error .selectbox-wrapper {
        background-color: #d07872; }
      html form fieldset .field.error.active select, html form fieldset .field.error.active .text, body form fieldset .field.error.active select, body form fieldset .field.error.active .text {
        background-color: #e1b5b6; }
      html form fieldset .field.error.active .selectbox, body form fieldset .field.error.active .selectbox {
        background-image: url(/images/form-select-error-active-closed.png); }
        html form fieldset .field.error.active .selectbox.open, body form fieldset .field.error.active .selectbox.open {
          background-image: url(/images/form-select-error-active-open.png); }
      html form fieldset .field.error.active .selectbox-wrapper, html form fieldset .field.error.active .ac_results, body form fieldset .field.error.active .selectbox-wrapper, body form fieldset .field.error.active .ac_results {
        background-color: #e1b5b6; }
        html form fieldset .field.error.active .selectbox-wrapper .selected, html form fieldset .field.error.active .ac_results .selected, body form fieldset .field.error.active .selectbox-wrapper .selected, body form fieldset .field.error.active .ac_results .selected {
          color: #a11c39; }
        html form fieldset .field.error.active .selectbox-wrapper .current, html form fieldset .field.error.active .ac_results .current, body form fieldset .field.error.active .selectbox-wrapper .current, body form fieldset .field.error.active .ac_results .current {
          background-color: #d07872;
          color: #2a0b14; }
  html form fieldset p.help, body form fieldset p.help {
    clear: both;
    margin: 0;
    padding: 0 0 20px 0; }
html form p.submit, html form fieldset.submit, body form p.submit, body form fieldset.submit {
  text-align: right;
  padding: 20px 30px 20px 30px; }
  html form p.submit .confirmation, html form fieldset.submit .confirmation, body form p.submit .confirmation, body form fieldset.submit .confirmation {
    text-align: left; }
  html form p.submit p, html form fieldset.submit p, body form p.submit p, body form fieldset.submit p {
    float: left;
    line-height: 30px; }

html body #content form {
  padding: 0 !important; }
  html body #content form.panel-body {
    padding: 0 !important; }

.slider {
  text-align: center;
  background-color: #000;
  border-bottom: 1px solid #1e1e2b;
  position: relative;
  min-width: 1044px;
  text-shadow: #0f0e16 0 1px 0; }
  .slider .shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    background-image: url(/images/about/shadow-h-purple.png);
    background-repeat: repeat-x;
    z-index: 3; }
  .slider .slider-bounds {
    overflow: hidden;
    position: relative;
    width: 100%;
    min-width: 1044px;
    height: 450px; }
    .slider .slider-bounds .slider-canvas {
      background-image: url(/images/about/pattern-yukiwa_sakura-purple.png);
      background-repeat: repeat-x;
      background-position: center top; }
  .slider .slider-nav {
    text-align: left;
    margin: 0 auto;
    width: 1044px;
    min-width: 1044px;
    position: relative; }
    .slider .slider-nav ul {
      padding-top: 32px;
      position: absolute;
      top: 0;
      left: 36px;
      z-index: 2; }
      .slider .slider-nav ul li {
        display: block; 
      }
      .slider .slider-nav ul li a {
        color: #4fc6e0;
        display: block;
        margin-right: 1px;
        padding: 8px 10px 22px 0;
        font-size: 22px;
        text-decoration: none;
        font-family: "Corbel", sans-serif; 
      }
      .slider .slider-nav-crew ul li a {
        padding: 8px 10px 13px 0;
      }
      .slider .slider-nav ul li a.active {
        color: #008eb5;
        font-weight: bold; 
      }
  .slider .slide {
    width: 100%;
    height: 450px;
    float: left;
    text-align: center;
    background-position: center top; }
    .slider .slide .slide-content {
      text-align: left;
      margin: 0 auto;
      width: 1044px;
      min-width: 1044px;
      position: relative;
      height: 450px;
      font-family: "Corbel", sans-serif;
      color: #4fc6e0; }
      .slider .slide .slide-content h2 {
        display: none; }
      .slider .slide .slide-content .description {
        position: absolute;
        z-index: 1;
        top: 41px;
        left: 259px;
        width: 640px; }
      .slider .slide .slide-content h3 {
        color: #008eb5;
        font-family: "Corbel", sans-serif;
        line-height: 27px;
        font-size: 20px; }
      .slider .slide .slide-content p {
        margin: 0;
        padding: 0 0 15px 0;
        font-family: "Corbel", sans-serif;
        font-size: 18px;
        line-height: 28px; }
        .slider .slide .slide-content p a {
          font-family: "Corbel", sans-serif;
          text-decoration: none;
          color: #ece2ff; }
          .slider .slide .slide-content p a:hover {
            color: #99caff; }
