<div id='trineo-footer'>
  <div class='container'>
    <h2 class='hidden'>Sitemap</h2>
    <!-- / TRINEO -->
    <div class='nav sixth' id='trineo-footer-company'>
      <h3>Trineo</h3>
      <ul>
        <li>
          <a href='/about.html'>About</a>
        </li>
        <li>
          <a href='/jobs.html'>Jobs</a>
        </li>
        <li>
          <a href='/crew.html'>The Crew</a>
        </li>
        <li>
          <a href='/index.html#our_clients'>Our Clients</a>
        </li>
      </ul>
    </div>
    <!-- / BUSINESS -->
    <div class='nav sixth' id='trineo-footer-business'>
      <h3>Business</h3>
      <ul>
        <li>
          <a href='/why.html'>Why Trineo</a>
        </li>
        <li>
          <a href='/success.html'>Success Stories</a>
        </li>
        <li>
          <a href='/news.html'>In The News</a>
        </li>
      </ul>
    </div>
    <!-- / PRODUCTS -->
    <div class='nav sixth' id='trineo-footer-platform'>
      <h3>Products</h3>
      <ul>
        <li>
          <a href='/products.html#dime_xero_edition'>Dime - Xero Edition</a>
        </li>
      </ul>
    </div>
    <!-- / RESOURCES -->
    <div class='nav sixth' id='trineo-footer-resources'>
      <h3>Resources</h3>
      <ul>
        <li>
          <a href='/contact.html' id='trineo-footer-link-contact'>Contact</a>
        </li>
        <li>
          <a href='/blog.html'>Blog</a>
          <a href='/atom.xml' id='trineo-footer-link-contact' target = "_blank"><img src="/images/feed-icon-14x14.png"/></a>
        </li>
        <li>
          <a href="http://twitter.com/trineoltd" class="twitter-follow-button" data-button="grey" data-text-color="#FFFFFF" data-link-color="#00AEFF" data-show-count="false">Follow @trineoltd</a>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
</li>        
        </li>
        <li>
<iframe src="http://www.facebook.com/plugins/like.php?app_id=188219271243139&amp;href=www.facebook.com/trineoltd&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:20px;" allowTransparency="true"></iframe> 
        </li>
      </ul>
    </div>
    <div class="third" id="trineo-footer-pull">
      <h3><a href="/news.html">Recent Blog Posts</a></h3>
      <dl>
        {% for post in site.categories.blog limit:2 %}
        <dt><a class="title" href="{{ post.url }}">{{ post.title }}</a></dt>
        <dd>Published: {{ post.date | date: "%d %b, %Y" }}</dd>
        {% endfor %}
      </dl>
    </div>
  </div>
</div>
