<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='width=1044' name='viewport' />
    <meta name="keywords" content="Salesforce, Atlassian, Bespoke, Ruby on Rails, Heroku" />
    <meta name="description" content="Experts in Salesforce.com, Force.com and bespoke Ruby on Rails, Symfony application development. Cloud application development. Consulting with setup and best practice use of Atlassian collaboration tools." />
    <meta name="google-site-verification" content="XROyWXxeTelQWBCR2wkMqTHTRS1SA-lsiybqP6bQY58" />
    <meta name="geo.region" content="nz"/>
    <link href='/css/header.css' media='all' rel='stylesheet' type='text/css' />
    <link href='/css/footer.css' media='all' rel='stylesheet' type='text/css' />
    <title>Trineo // {{ page.title }}</title>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
    <link href="atom.xml" rel="alternate" title="trineo" type="application/atom+xml" />
    <!-- / css -->
    <link href='/css/fontface.css' media='all' rel='stylesheet' type='text/css' />
    <link href='/css/screen.css' media='all' rel='stylesheet' type='text/css' />
    <link href='/css/about.css' media='all' rel='stylesheet' type='text/css' />
    <link href='/css/main.css' media='all' rel='stylesheet' type='text/css' />
	  <link href="/css/post.css" media="all" rel="stylesheet" type="text/css" />
	  <link href="/css/form.css" media="all" rel="stylesheet" type="text/css" />
    <!-- / javascripts -->
    <script src='/javascripts/jquery-1.4.min.js' type='text/javascript'></script>
    <script src='/javascripts/jquery.localscroll-min.js' type='text/javascript'></script>
    <script src='/javascripts/jquery.scrollTo-min.js' type='text/javascript'></script>
    <script src='/javascripts/slider.js' type='text/javascript'></script>
  </head>
  <body class='about' id=''>
    <div class='container'>
      <div id="trineo-header">
        {% include header.html %}
      </div>
      {{ content }}
      <div id="footer">
        {% include footer.html %}
      </div>
    </div>
    <!-- google analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.google_analytics_code }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
